.tela-login {
  height: 100vh;
  align-content: center;
  align-items: center;
}

.tela-login {
  background-color: #7159c1;
  font-family: Roboto, Arial, sans-serif;
  align-content: center;
  align-items: center;
}

#logo {
  width: 250px;
  margin: 3px 0;
  top: 80px;
  align-items: center;
  position: relative;
  margin-top: -50px;
  margin-left: 560px;
  animation-name: fade;
  animation-duration: 1s;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  align-content: top;
  width: 30%;
  margin: auto;
}

h1 {
  margin-top: 100px;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 100px;
  color: white;
  text-align: center;
  font-weight: 500;
}

form {
  margin: 60px 0;
  margin-left: 0px;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
}

form .input-block {
  margin-bottom: 20px;
}

form .input-block label {
  font-size: 14px;
  color: darkslateblue;
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: #7159c1;
  border-radius: 2px;
  border: 1px solid #ccddef;
  outline-color: #7159c1;
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: #7159c1;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
  cursor: pointer;
}

form .btn-login:hover {
  background: rgb(45, 5, 90);
}

/*Daqui pra baixo são as animações*/
form {
  animation-name: fade;
  animation-duration: 1s;
  overflow: hidden;
}

form .input-block {
  animation-name: move;
  animation-duration: 1s;
}

form .btn-login {
  animation: move 1s;
  animation-fill-mode: backwards;
}

.form-hide {
  animation: down 800ms;
  animation-fill-mode: forwards;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  animation-name: fade;
  animation-duration: 1s;
}

form.validate-error {
  animation: nono 120ms linear, fade paused;
  animation-iteration-count: 3;
}

/*Daqui pra baixo são as criações de animações*/
@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes nono {
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-5%);
  }
  70% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}
